<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_ly_kho_hang.Properties.Settings.QL_KhoHangConnectionString"
            connectionString="Data Source=MAILINH-PC;Initial Catalog=QL_KhoHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>